@import url('https://fonts.googleapis.com/css?family=Rock+Salt');



/*--------------index page css------------*/
header{
  background-image: url(../images/bg4.jpg);
  /* height: 100wh; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  margin-top: 0;
  padding: 30px 0;
}

.container {
  width: 100%;
}

#flipbook{
    margin: 30px auto;
    /* margin-top: 100px; */
  }

#flipbook .shadow, #flipbook.shadow{
  -webkit-box-shadow: 0 4px 10px #666;
  -moz-box-shadow: 0 4px 10px #666;
  -ms-box-shadow: 0 4px 10px #666;
  -o-box-shadow: 0 4px 10px #666;
  box-shadow: 0 4px 10px #666;
}

.indexcontent{
  margin: 0;
  padding-bottom: 30px;
    background-image: url(../images/bg2.jpg);
}

.main{
    background-color: rgb(212, 119, 56);
    /* height: 500px; */
    margin: 70px 30px;
    text-align: center;
    font-size: 20px;
}

.main h1{
    font-family: "Rock Salt";
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.main p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.slogan{
        margin: 30px auto;
        width: 50%;
        /* height: 120px; */
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
        text-align: center;
    }

.slogan p {
    margin: 8%;
    font-family: "Rock Salt";
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.box2{
    background-color: rgb(212, 119, 56);
    margin: 70px 30px;
}

.box2 h1{
    font-family: "Rock Salt";
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 7px;
}

.value {
  font-family: "Rock Salt";
}

.stat-items i {
    font-size: 100px;
}




/*
header h1 {
  font-size: 40px;
  margin: 0 100px;
  padding: 80px 20px;
  color: white;
} */

/*---------------nav bar styles-------------*/
nav {
  background: rgba(12, 12, 12, 0.8);
}

nav li {
  padding: 0 20px;
  margin: 0;
  }

nav li a {
  font-family: "Rock Salt";
  font-size: 20px;
  color: white;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav li a:hover {
  color: orangered;
}



/* -----------store page css------------ */
/*books with descriptions shown on hover*/

/*div containing bookcover and descriptions*/



div.storeitem {
  margin: 8px;
  /* padding: 8px; */
  width: 16%;
  height: 22%;
  position:relative;
  display:inline-block;
}

img.store {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.description {
  text-align: center;
  opacity: 0;
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.description a {
  color: white;
  padding: 8px;
}

.storeitem:hover .description{
  opacity: 1;
}


/* shelf = bookshelf pic + books */
div.shelf {
  width: 100%;
  position: relative; /*position books in relation to shelf*/
  padding:0;
  margin: 0;
}

.shelfpic img {
  width: 100%;
  padding: 0;
  margin: 0;
}


.level1 {
  position: absolute; /*position books in relation to shelf*/
  top: 8%;
  text-align: center;
}

.level2 {
  position: absolute;
  top: 40%;
  text-align: center;
}

.level3 {
  position: absolute;
  top: 70%;
  text-align: center;
}


/* ----------------------------- */



/*locations(read with us) page css*/

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

/*social medium icons with font awesome*/

.fa {
    left: 0;
    bottom:0;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
      opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
  }

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }




/* ---------------media queries---------------  */

@media only screen and (max-width: 900px) {
  .stat-items i {
      font-size: 50px;
  }
  header {
    display: none;
    width: 0;
  }
  nav li {
    padding: 0 5px;
    margin: 0;
    }
  nav li a {
    font-size: 15px;
  }
  .stats span {
    font-size: 20px;
  }
  .stats p {
    font-size: 10px;
  }
}






@media only screen and (max-width: 500px) {
  .main, .box2{
    margin: 35px 0px;
  }

  .main h1{
      font-size: 25px;
      margin: 0;
      padding: 20px 10px;
  }
  .main p {
      font-size: 15px;
      padding: 5px;
  }
  .stat-items i {
      font-size: 25px;
      padding: 0;
      margin: 0;
  }

  .stats span {
    font-size: 15px;
  }
  .stats p {
    display: none;
  }
  .box2 h1{
      font-size: 15px;
      padding: 20px;
  }
  .description a {
    color: white;
    padding: 2px;
    font-size: 12px;
  }

}
