body {

  font-family: arial;
  margin: 0;
  width: 100vw;
}

header {
  height: 280px;
  margin: 0;
  padding: 0;
  background-image: url("../images/background1.jpg");
  background-size: cover;
}

header h1 {
  font-size: 40px;
  margin: 0 100px;
  padding: 80px 20px;
  color: white;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  /* list-style-type: none;
  text-align: center; */
}

nav li {
  /* display: inline-block; */
  padding: 0 20px;
  margin: 0;
  }


nav li a {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  color: orange;
}

div {
  margin: 0;
  width: 100vw;
}

div p {
  margin: 0;
}

.home1 {
  min-height: 100vh;
  min-width: 100vw;
}

.left {
  float: left;
}

div.books {

  margin: 50px auto;
  text-align: center;

}

div.level1 {
  margin-top: -950px;
}

div.level2 {
  margin-top: 20px;
}

div.level3 {
  margin-top: 18px;
}

img.store {
  margin: 8px;
  padding: 8px;
  width: 170px;
  height: 260px;
}

.shelf img {
  width: 1000px;
}
