body {

  font-family: arial;
  margin: 0;

}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-image: url("../images/background1.jpg"); */
  /* background-size: cover; */
}

header h1 {
  font-size: 40px;
  margin: 0 100px;
  padding: 80px 20px;
  color: white;
}

nav {
  background: rgba(12, 12, 12, 0.8);
}

nav ul {
  /* list-style-type: none;
  text-align: center; */
}

nav li {
  /* display: inline-block; */
  padding: 0 20px;
  margin: 0;
  }


nav li a {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  color: orange;
}

div {
  margin: 0;
  width: 100%;
}

div p {
  margin: 0;
}



/*books with descriptions shown on hover*/

/*div containing both bookcover and descriptions*/
div.storeitem {
  margin: 8px;
  /* padding: 8px; */
  width: 16%;
  height: 22%;
  position:relative;
  display:inline-block;
}

img.store {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.description {
  text-align: center;
  opacity: 0;
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.description a {
  color: white;
  padding: 8px;
}

.storeitem:hover .description{
  opacity: 1;
}





/* shelf = bookshelf pic + books */
div.shelf {
  width: 100%;
  position: relative; /*position books in relation to shelf*/
  padding:0;
  margin: 0;
}

.shelfpic img {
  width: 100%;
  padding: 0;
  margin: 0;
}


.level1 {
  position: absolute; /*position books in relation to shelf*/
  top: 8%;
  text-align: center;
}

.level2 {
  position: absolute;
  top: 40%;
  text-align: center;
}

.level3 {
  position: absolute;
  top: 70%;
  text-align: center;
}
